<div *ngIf="lifeform">
  <h2>{{lifeform.name}} stats</h2>
  <div><label>id: </label>{{lifeform.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="lifeform.name" placeholder="name"/>
  </div>
  <div><label>health: </label>{{lifeform.health}}</div>
  <div><label>lives: </label>{{lifeform.lives}}</div>
</div>

<!-- <div *ngIf="selectedLifeform">
  <h2>{{selectedLifeform.name}} dox</h2>
  <div><label>id: </label>{{selectedLifeform.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedLifeform.name" placeholder="name"/>
  </div>
</div> -->